<ng-container *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<div class="dx-viewport">
  <dx-pivot-grid
    id="pivotgrid"
    [allowSortingBySummary]="true"
    [allowExpandAll]="true"
    [allowFiltering]="true"
    [showBorders]="true"
    [showColumnGrandTotals]="false"
    [showRowGrandTotals]="true"
    [showRowTotals]="true"
    [showColumnTotals]="false"
    [rowHeaderLayout]="'tree'"
    [dataSource]="pivotGridDataSource"
    (onCellClick)="onPivotCellClick($event)"
  >
    <dxo-header-filter
      [allowSearch]="true"
      [showRelevantValues]="true"
    ></dxo-header-filter>
    <dxo-field-panel [visible]="true"></dxo-field-panel>
    <dxo-scrolling></dxo-scrolling>
    <dxo-field-chooser [enabled]="true" [height]="400"></dxo-field-chooser>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
  </dx-pivot-grid>
</div>
