<h2 mat-dialog-title [translate]="'documentList'"></h2>
<mat-dialog-content>
  <ng-container *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>

  <mat-form-field appearance="outline">
    <mat-label [translate]="'filter'"></mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
  <div class="example-container">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div [translate]="'date'"></div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.date0 }}</td>
      </ng-container>
      <ng-container matColumnDef="documentType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div [translate]="'type'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.documentType }}
        </td>
      </ng-container>
      <ng-container matColumnDef="companySenderCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div [translate]="'from'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.companySenderCode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="companySenderName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div [translate]="'subject'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.companySenderName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="companyRecipientCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div [translate]="'to'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.companyRecipientCode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="companyRecipientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div [translate]="'subject'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.companyRecipientName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div [translate]="'total'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.total }}
        </td>
      </ng-container>
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>
          <div [translate]="'currency'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.currency }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="viewDocument(element)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[10, 30, 100]"
    showFirstLastButtons
  ></mat-paginator>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="closeDialog($event)">
    <div [translate]="'close'"></div>
  </button>
</mat-dialog-actions>
