<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>BG Trading app</span>
    <div class="flex-spacer"></div>
    <button mat-button [matMenuTriggerFor]="menu">
      {{ languages.get(translate.currentLang) }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let lang of languages | keyvalue"
        (click)="useLanguage(lang.key)"
      >
        {{ lang.value }}
      </button>
    </mat-menu>
    <ng-container
      *ngIf="oauthService.hasValidAccessToken() === true; else loggedOut"
    >
      <div fxLayout="row" style="height: 32px; margin-right: 10px">
        <!--          <img-->
        <!--            [src]="user.picture"-->
        <!--            alt=""-->
        <!--            class="rounded-circle"-->
        <!--            style="margin-right: 10px"-->
        <!--          />-->
        <div style="color: white; font-size: 0.8rem">{{ getUsername() }}</div>
      </div>
      <button mat-flat-button color="primary" (click)="oauthService.logOut()">
        {{ "logout" | translate }}
      </button>
    </ng-container>
    <ng-template #loggedOut>
      <button
        mat-flat-button
        color="primary"
        (click)="oauthService.initLoginFlow()"
      >
        {{ "login" | translate }}
      </button>
    </ng-template>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a mat-list-item *ngFor="let link of links" [routerLink]="link.path">{{
          link.label
        }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
