.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 320px;
}

.sidenav-container {
  flex: 1;
}

mat-sidenav-content {
  padding: 10px 10px;
}

.rounded-circle {
  border-radius: 50%;
}

img {
  max-width: 100%;
  max-height: 100%;
}
