<h2 mat-dialog-title>Документ №{{ document?.id }}</h2>
<mat-dialog-content>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field appearance="outline">
      <mat-label [translate]="'date'"> </mat-label>
      <input matInput [value]="document?.date0" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label [translate]="'type'"></mat-label>
      <input matInput [value]="document?.documentType" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>NN</mat-label>
      <input matInput [value]="document?.documentIdentifier" readonly />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field appearance="outline">
      <mat-label [translate]="'from'"></mat-label>
      <input matInput [value]="document?.companySenderCodeName" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label [translate]="'through'"></mat-label>
      <input matInput [value]="document?.companyMiddlemanCodeName" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label [translate]="'to'"></mat-label>
      <input matInput [value]="document?.companyRecipientCodeName" readonly />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label [translate]="'comment'"></mat-label>
      <input matInput [value]="document?.getComment" readonly />
    </mat-form-field>
  </div>
  <div class="table-container">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <div [translate]="'id'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="productCode">
        <th mat-header-cell *matHeaderCellDef>
          <div [translate]="'code'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.productCode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>
          <div [translate]="'productName'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.productName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="quantity0">
        <th mat-header-cell *matHeaderCellDef>
          <div [translate]="'quantity'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantity0 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>
          <div [translate]="'unit'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.unit }}
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>
          <div [translate]="'price'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.price }}
        </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>
          <div [translate]="'total'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.total }}
        </td>
      </ng-container>
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>
          <div [translate]="'currency'"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.currency }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 30, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</mat-dialog-content>
