<mat-card>
  <mat-card-title>Приложение для просмотра бюджета bg trading</mat-card-title>
  <mat-card-actions>
    <a mat-raised-button color="primary" routerLink="budget"> Бюджет </a>
  </mat-card-actions>
</mat-card>
